[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/capstone-phoenix
host_key_checking = False
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = True
become_method = sudo
become_user = root
