project_name         = "capstone"
region               = "eu-north-1"
my_ip                = "YOUR_IP/32"          # run: curl -s ifconfig.me
ssh_public_key_path  = "~/.ssh/YOUR_KEY.pub"
server_instance_type = "t3.small"
worker_instance_type = "t3.small"
